.HomePage{
    margin-left: 30px;
    margin-right:30px;
    /*text-align: center;*/
}

.editspace{
    /*display: inline-block;*/
    float:right;
    width : 80%;

}
.savebutton{

}
.SideMenu{
    display: inline-block;
    width:19%;
    margin-right: 1%;
    height:600px;
    border : 1px solid red;
    /*background-color: #a1c918;*/
}
