.viewpage{
    margin-left: 30px;
    margin-right:30px;
}
.memolist{
    float:left;
    margin-right:1%;
    width:20%;

}

.seememo{
    
    width:79%;
    border:2px red;
    background-color: #078110;

}
