.logo {
    height: 200px;
    width: 1843px;
    background-color: #ff3a34;
    /*width: 100vw;*/
    line-height: 3.5rem;
    color: black;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    /*padding: 50px;*/
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 30px;
}

.menu {
    background-color: #ff3a34;
    width: 1843px;
    height: 3.5rem;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 10px;
}

.menu-item {
    display: inline-block;
    color: white;
    font-size: 15px;
    line-height: 3.5rem;
    width: 10%;
    text-align: center;
    cursor: pointer;
    background-color: #c40701;
    transition: background-color 0.3s;
    text-decoration: none;
}

.menu-item:hover {
    background-color: #772727;
}

.menu-item:active, .menu-item.active {
    background-color: #581309;
    color:gray;
}
