.memos a {
    display: block;
    text-align: center;

    text-decoration: none;
    background-color: #495057;
    color: white;
    /*margin-left: 30px;*/
    font-size: 30px;
    /*margin-right:30px;*/
    /*width:20%;*/
    transition: background .3s;
}

.memos a:hover {
    background-color: #868e96;
}

.memos a:active {
    background-color: #343a40;
}

.one{
    color:black;
}
