div.sidemenu{
    margin-top: -1px;
    vertical-align: middle;
    border: 1px solid blue; float: left; width: 20%;
    height:100%;

}
div.btn-group-vertical{
    text-align: center;
}

div.editspace{
    border: 1px solid red; float:right;width: 80%;
}
